#hero {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#hero div img {
  height: 500px;
}

#hero div#headings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#hero div#headings * {
  margin: 0 1.5rem;
}

#bio {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

#bio p {
  width: 90%;
  position: relative;
  font-size: 1.25rem;
}

#bio p::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 5px;
  left: 0rem;
  top: -0.5rem;
  background-color: var(--accent-color);
}

#bio p::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 5px;
  right: 0rem;
  bottom: -0.5rem;
  background-color: var(--accent-color);
}

#bio a button {
  position: relative;
  width: 10rem;
  height: 3rem;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid #ffffff;
  overflow: hidden;
  transition: all 1s ease;
  animation: glow 3s infinite ease;
}

#bio a button::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 120%;
  top: -10%;
  left: -20%;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 3px 3px rgba(255, 255, 255, 0.8);
  transition: all 1s ease;
}

#bio a button:hover::before {
  cursor: pointer;
  transform: translateX(250px);
}

#bio a button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

@media screen and (max-width: 750px) {
  #hero div img {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: top;
  }
}