a {
  text-decoration: none;
  transition: all 0.25s ease;
}

#nav-container {
  height: 100px;
  width: 94vw;
  max-width: 1920px;
  padding: 0 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(10px);
  background-color: var(--primary-color-transparent);
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-top: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  text-align: center;
}

#nav-container img {
  height: 50px;
}

#nav-container nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#nav-container nav li:first-of-type {
  display: none;
}

#nav-container nav li {
  list-style-type: none;
  padding: 1rem;
  transition: all 0.25s ease;
}

li:hover {
  cursor: pointer;
  background-color: var(--accent-color);
}

li:hover a {
  color: var(--primary-color-solid);
}

@media screen and (max-width: 980px) {
  #nav-container {
    height: 80px;
    justify-content: center;
  }
  #nav-container img {
    display: none;
  }
  #nav-container nav li:first-of-type {
    display: inline;
  }
}

@media screen and (max-width: 750px) {
  #nav-container {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 50vw;
    height: 100vh;
    z-index: 5;
    flex-direction: column;
  }
  #nav-container nav {
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 460px) {
  #nav-container nav li {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 320px) {
  #nav-container nav li {
    font-size: 2rem;
  }
}
